*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/lipermi/target/
/uia-client/target/
/uia-server/target/
/uia-server/nbproject/private/
/uia-server/build/
/uia-server/dist/
/uia-test/target/
/target/
